<div class="input input-file">
    <span class="button" ng-click="openTinyBrowse('destination','image')">{{ "Browse" | translate }}</span>
    <!--<span class="button" ng-click="clearSelection('destination')"><i class="glyphicon glyphicon-remove"></i></span>-->
    <input placeholder="{{ 'Choose file' | translate }}" name="model[options.key]"
           id="destinationInput" type="text" ng-click="openTinyBrowse('destination','image')">
</div>


<div class="img-preview margin-top ng-hide well col col-6" id="destinationImg">
    <div class="preview-text">{{"Preview" | translate }}</div>
</div>
<div class="clearfix"></div>


<div id="tinyCtrl" ng-app="app.files" ng-controller="FilesSelectorController as tiny">
    <div class="tb" ng-if="browserOn">
        <div class="tb-container">
            <div class="tb-frame">
                <div class="tb-toolbar">
                    <div class="tb-heading">Browse - {{getHeading()}}</div>
                    <div class="tb-right">
                        <div class="tb-views">
                            <button class="tb-btn" ng-click="changeView('grid')"><icon>&#xf00a;</icon></button>
                            <button class="tb-btn" ng-click="changeView('row')"><icon>&#xf0c9;</icon></button>
                        </div>
                        <div class="tb-search">

                            <input id="tb-input" formnovalidate="formnovalidate" placeholder="search" type="text" ng-model="$parent.searchTerm" ng-keyup="search()"/>
                            <div class="tb-clear" ng-click="searchClear()"><icon>&#xf00d;</icon></div>
                        </div>
                        <div class="tb-btn tb-close" ng-click="close()"><icon>&#xf00d;</icon></div>
                    </div>
                </div>
                <div class="tb-window">
                    <div class="tb-scroll">
                        <div class="tb-images">

                            <!-- FOLDERS -->
                            <div class="tb-image {{view}}" ng-click="openFolder(folder.sysName)" ng-repeat="folder in folders">
                                <div class="tb-image-frame tb-folder">
                                    <span ng-bind-html="getIcon(folder.type)"></span>
                                </div><div class="tb-image-name">{{folder.name}}</div>
                            </div>
                            <!-- /FOLDERS -->

                            <!-- IMAGES -->
                            <div class="tb-image {{view}}" ng-click="selectItem($index)" ng-repeat="item in items">

                                <!-- IMAGE PREVIEW -->
                                <div class="tb-image-frame" style="background:url('{{item.img}}')" ng-if="browseType == 'image'">
                                    <icon ng-bind-html="getIcon(item.type)"></icon>
                                </div>
                                <!-- IMAGE PREVIEW -->

                                <!-- FILE PREVIEW -->
                                <div class="tb-image-frame tb-file-frame" ng-if="browseType == 'file'">
                                    <icon ng-bind-html="getExtIcon(item.name)"></icon>
                                </div>
                                <!-- FILE PREVIEW -->


                                <div class="tb-image-name">{{item.name}}</div>
                            </div>
                            <!-- /IMAGES -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
