<label class="input" ng-class="{ 'state-error': showError }">
    <i class="icon-append fa fa-question-circle"></i>
    <input ng-model="model[options.key]">
    <b class="tooltip tooltip-top-right">
        <i class="fa fa-warning txt-color-teal"></i>
        {{ to.helpText }}
    </b>
</label>