<ui-select data-ng-model="model[options.key]" data-required="{{to.required}}" data-disabled="{{to.disabled}}" theme="bootstrap">
    <ui-select-match placeholder="{{to.placeholder}}">{{$select.selected[to.labelProp]}} <span ng-show="to.loading"><i class="fa fa-cog fa-spin fa-fw"></i> Loading...</span></ui-select-match>
    <ui-select-choices data-repeat="option[to.valueProp] as option in to.options | filter: $select.search">
        <div ng-bind-html="option[to.labelProp] | highlight: $select.search"></div>
    </ui-select-choices>
</ui-select>