<formly-transclude></formly-transclude>
<div ng-messages="fc.$error" ng-if="(form.$submitted || options.formControl.$touched) && options.formControl.$invalid" class="note note-error darkred">
    <span ng-message="{{ ::name }}" ng-repeat="(name, message) in ::options.validation.messages">
        {{ message(fc.$viewValue, fc.$modelValue, this) }}
    </span>
</div>
