<section class="{{ to.sectionClass }}">
  <label for="{{id}}" class="label {{to.labelSrOnly ? 'sr-only' : ''}}" ng-if="to.label">
    {{to.label}}
    {{to.required ? '*' : ''}}
  </label>
  <formly-transclude></formly-transclude>
</section>
